@model MvcMovie.Models.EmployGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<form asp-controller="Employees" asp-action="Index" method="get">
    <p>

        <select asp-for="EmployGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.Employees[0].EmployName)
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].EmployeeID)
            </th>
               @Html.DisplayNameFor(model => model.Employees[0].PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
